h1 {
  margin-top: 1.5rem;
  font-size: 26px;
  text-transform: uppercase;
  color: rgba(16, 24, 39, 1);
}

h3 {
  margin: 0;
  margin-bottom: 1rem;
  color: rgba(16, 24, 39, 1);
  font-weight: 600;
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

textarea {
  margin: 1rem auto;
  width: 80%;
  min-width: 60%;
  max-width: 90%;
  min-height: 325px;
  border-color: lightgray;
  border-radius: 3px;
  padding: 1rem;
}

input {
  background-color: rgba(44, 112, 255, 1);
  margin: 0.5rem auto 0rem auto;
  width: 90%;
  color: white;
  padding: 0.75rem 1.25rem;
  border: solid darkgray 1px;
  border-radius: 3px;
  font-size: medium;
  font-weight: 500;
  text-transform: uppercase;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: fit-content;
  margin: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
  align-self: start;
  display: flex;
}

.header {
  height: 2.5rem;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  width: 100%;
  max-width: 50%;
  margin: auto auto 2rem auto;
  text-align: center;
  background-color: rgb(241, 241, 241);
  color: black;
  border-radius: 5px;
}

.errors-container {
  width: 60%;
  padding: 2rem;
  margin: 2rem auto;
  color: #ff0101;
  white-space: pre-line;
  background-color: white;
  border: #ff0101 dashed 3px;
  border-radius: 3px;
}

.icon-styles {
  display: flex;
  align-self: start;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

@media (max-width: 425px) {
  input {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
  .container {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .container {
    min-width: 80%;
  }
  textarea {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 60%;
  }
}
