.image-container {
  text-align: center;
  padding: 1rem;
}

.container {
  padding: 0.5rem 0rem 2rem 0rem;
  max-width: 600px;
  margin: auto;
  text-align: center;
  background-color: rgb(241, 241, 241);
  color: black;
  border-radius: 2px;
}

.textarea-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.errors-container {
  width: 450px;
  padding: 2rem;
  margin: 0rem auto;
  color: #ff0101;
  white-space: pre-line;
  background-color: white;
  border: solid gray 1px;
  border-radius: 3px;
  font-weight: bold;
}
